.container {
  padding: 1rem;
  padding-bottom: 3rem;
}
.line {
  height: 0.05rem;
  width: 98%;
  display: block;
  background-color: black;
  margin-top: 6rem;
}
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
}
.account {
  margin-left: 1rem;
  font-size: 1.5ch;
}
