.container-2019 {
  height: auto;
  width: auto;
  background: linear-gradient(
    135deg,
    rgba(249, 208, 154, 0.715),
    rgba(255, 192, 203, 0.715)
  );
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  opacity: 0;
  transition: ease-in-out 700ms;
  color: white;
}
.container-2019 > h2 {
  margin: 0;
  font-size: 4ch;
}
.show {
  opacity: 1;
}
