.activityContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.activity {
  width: 30vw;
  height: 40vh;
  margin-top: 10rem;
  padding: 1rem;
}
.activity-right {
  background-color: pink;
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
  transition: ease-in-out 1000ms;
}
.activity-left {
  background-color: rgba(90, 0, 155, 0.826);
  color: white;
  opacity: 0;
  border-radius: 1.5rem;
  transform: translate3d(10%, 0, 0);
  transition: ease-in-out 1000ms;
  transition-delay: 200ms;
}
.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.show-light {
  opacity: 0.6;
  transform: translate3d(0, 0, 0);
}
